*{
    margin: 0;
    padding: 0;
}
/* File tab sitting is done here */
.file-tab
{
    position: relative;
    width: 200px;
    background-color: black;
    text-align: center;
    padding-top: 155px;
    padding-bottom: 155px;
    position: fixed;
    z-index: 1;
}

.file-tab p{
    padding: 20px;
    margin-bottom: 20px;
}

.file-tab a{
    float: inline-start;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.file-tab a:hover{
    color: hotpink;
}

/* Documentation on the topic real estate */

.documentation{
    position: absolute;
    margin-left: 300px;
    margin-right: 100px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: cornsilk;
    padding: 10px 40px;
    border-radius: 40px;
}
.documentation .info{
    margin-bottom: 30px;
}
.documentation .info h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.documentation .info p{
    font-size: 20px;
    text-align: justify;
}
